<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>腾讯 · 大家</title>
{% load staticfiles %}
<link href="{%static "index.css"%}" type="text/css" rel="stylesheet" />
</head>

<body>
<div id="whole">
	<div id="left">
        <div id="logo">
		{% load staticfiles %}
		<img src="{%static "img/logo.png"%}" alt="大家"  >
        </div>
        <div id="topmnue1">
        <a href="http://dajia.qq.com/home">首页</a>
        <a href="http://dajia.qq.com/#">登录</a>
        <a href="http://www.qq.com/?pgv_ref=dajia">腾讯网</a>
        </div>
        <div id="topmnue2">
        <a href="http://dajia.qq.com/home">文章</a>
        <a href="http://dajia.qq.com/column">谈资</a>
        <a href="http://dajia.qq.com/rank">作者</a>
        <hr/>
        </div>
        <div id="article">
         <div id="banner">
            <div id="pic1">
                <a boss="{id:1220, sBiz:'dajia_web', name:'right_focus', sBak1:'home', sBak2:'_no_login_'}" target="_blank" href="http://dajia.qq.com/blog/383515035627478">
                    <img src="http://img1.gtimg.com/cul/pics/hv1/173/112/1946/126567383.jpg">
                </a>
            </div>
            <div id="text1">
                    <h2>国际装逼界最新流行趋势</h2>
                    <h3>作者：荣筱箐</h3>
            </div>
         </div>
           <div id="article1">
              <a target="_blank" href="http://dajia.qq.com/blog/475252130509580">
                <h4>荐在台海两岸同时不受待见的《中国》</h4>
                <div id="pic" >
                  <img width="192" src="http://t2.qpic.cn/mblogpic/2618049adeb8996ed23a/2000">
                </div>
                <div id="getpic">
                  <p>安氏在解说词中偶有讽刺，亦有镜头做了这方面的努力，如有次背景音乐是京剧样板戏，镜头一切换便是一头猪一骨碌爬起来，一个激灵，好像听懂了什么似的，令人发笑，其实我们与猪有何差别？</p>
                </div>
              </a>
           </div>
           </div>
        </div>
    </div>
    <div id="right">
    	
     <div id="artists">
        <div id="rightblank">
        </div>
        <h2  style="color:gray ">今日推荐作家</h2>
        <div id="artistslist">
          <div class="artistpic">
            <img src="http://img1.gtimg.com/cul/pics/hv1/152/109/1922/125005997.jpg">
          </div>
          <div class="artist">
          <h4>崔卫平</h4><nobr>北京电影学院教授，著有《思想与乡愁》等。</nobr>
          <a target="_blank" href="http://dajia.qq.com/blog/475345085584038">愤世嫉俗是俄罗斯精神的本质</a>
          </div>
     </div>
    </div>
</div>
        
</body>
</html>