<!DOCTYPE html>
</html>    
	<head>
	<meta charset="utf-8">
		<title>发墙</title>
	</head>
	<body>
		<p style="text-align:center;font-size:1.5em;">发墙</p>
		<form method="post"> 
		{% csrf_token %}
			<fieldset>
				<legend>来你的墙吧</legend>
				        <p>类别{{ form_info.name }}</p>
		            	<p>题目{{ form_info.title }}</p>
						<p>作者{{ form_info.author }}</p>
						<p>内容{{ form_info.content }}</p>
		            	<input type="submit" value="现在就发墙" />
		        </fieldset>
		</form>
	</body>
</html>