<!DOCTYPE html>
</html>    
	<head>
	<meta charset="utf-8">
		<title>音乐上传</title>
	</head>
	<body>
		<p style="text-align:center;font-size:1.5em;">音乐上传</p>
		<form method="post"> 
		{% csrf_token %}
			<fieldset>
				<legend>上传音乐吧！！！</legend>
		            	<p>歌名{{ form_info.music_name }}</p>
						<p>歌手{{ form_info.music_singer }}</p>
						<p>数量{{ form_info.music_number }}</p>
						<p>留言{{ form_info.message }}</p>
		            	<input type="submit" value="现在就点" />
		        </fieldset>
		</form>
	</body>
</html>